* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

button {
    display: flex;
    align-items: center;
    border: none;
    background-color: #fa814d;
    padding: 15px 15px;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}

button > p {
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    text-transform: uppercase;
}

/* Nav starts from here */

nav {
    display: flex;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
    width: 80%;
    height: 100px;
    padding: 0 10%;
    color: #363958;
}

.nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-container > ul {
    list-style: none;
    display: flex;
}

.nav-container > ul > li {
    padding: 0 20px;
    cursor: pointer;
}

.logo-container {
    width: 20%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.logo {
    width: 220px;
}

.nav-responsive {
    display: none;
    height: 50px;
}

.menu-container {
    display: none;
}

.menu-container > img {
    display: none;
    width: 20px;
    position: relative;
    top: 43px;
}

/* First section starts from here */

.first-section {
    width: 80%;
    padding: 0 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.first-section-text-area {
    width: 50%;
}

#bag {
    color: #363958;
    font-family: 'Bebas Neue', cursive;
    font-size: 5em;
    line-height: 60px;
}

#moon {
    color: #76C27E;
    font-family: 'Bebas Neue', cursive;
    font-size: 5em;
    line-height: 100px;
}

.first-section-text-area > p {
    color: #3E3E3E;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    margin-bottom: 50px;
    margin-top: 20px;
}

.intro-image {
    width: 90%;
}

.first-section-image-area {
    width: 50%;
    position: relative;
    left: 40px;
}

/* Second section starts from here */

.second-section {
    width: 80%;
    margin: 15% 0;
    padding: 0 10%;
    display: flex;
    justify-content: space-between;
}

.sub-section-container {
    width: 50%;
}

.sub-section-image-area {
    width: 50%;
    display: flex;
    justify-content: end;
    align-items: center;
}

.sub-section-image {
    width: 95%;
    position: relative;
    top: 10%;
}

.sub-section {
    margin: 30px 0;
    height: 30%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: white;
    border-radius: 25px;
    -webkit-box-shadow: 10px 10px 25px -5px rgba(0,0,0,0.29);
    -moz-box-shadow: 10px 10px 25px -5px rgba(0,0,0,0.29);
    box-shadow: 10px 10px 25px -5px rgba(0,0,0,0.29);
}

.sub-section-text-area {
    margin: 0 20px ;
}

.sub-section-text-area > h2 {
    color: #363958;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 10px;
}

.sub-section-text-area > p {
    color: #3E3E3E;
    font-family: 'Roboto', sans-serif;
    font-size: 1em ;
}

.sub-section-icon {
    width: 20%;
    margin-left: 3%;
}

.sub-section-icon > img {
    width: 100%;
}

/* Casual bagpack section starts from here */

.casual-bagpack-section, .travel-bagpack-section {
    width: 80%;
    margin: 10% 10%;
}

.product-section-header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #363958;
    font-family: 'Bebas Neue', cursive;
    font-size: 2.5em;
    margin: 2% 0;
}

.product-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-card {
    background-color: white;
    -webkit-box-shadow: 10px 10px 25px -5px rgba(0,0,0,0.29);
    -moz-box-shadow: 10px 10px 25px -5px rgba(0,0,0,0.29);
    box-shadow: 10px 10px 25px -5px rgba(0,0,0,0.29);
    width: 30%;
    margin: 1.5%;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-card-image-container {
    background-color: #F1F1F1;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    border-radius: 20px;
}

.product-image {
    width: 90%;
    margin: 10% 0;
}

.product-description {
    width: 90%;
    margin: 0 auto;
    margin-top: 5%;
}

.product-description > h3 {
    color: #363958;
    font-family: 'Roboto', sans-serif;
    font-size: 1.3em;
    padding-bottom: 15px;
}

.product-description > p {
    color: #3E3E3E;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
}

.card-footer {
    width: 90%;
    margin: 0 auto;
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5%;
}

.card-footer > h2 {
    color: #76C27E;
    font-family: 'Roboto', sans-serif;
    font-size: 2.25em;
}

/* Review section starts from here */

.review-section {
    width: 80%;
    margin-top: 2%;
    margin-bottom: 200px;
    padding: 0 10%;
    display: flex;
    justify-content: space-between;
}

.review-sub-section-container {
    width: 49%;
}

.bag-icon {
    background-color: #F1F1F1;
    padding: 1%;
    border-radius: 20px;
}

.review-section-header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #363958;
    font-family: 'Bebas Neue', cursive;
    font-size: 2.5em;
}

.review-header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #363958;
    margin: 2% 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
    text-transform: capitalize;
}

.review-sub-section-text-area {
    width: 100%;
    color: #3E3E3E;
    font-family: 'Roboto', sans-serif;
    font-size: 1em ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}

.review-text-area > ul {
    list-style: none;
    display: flex;
    /* margin-bottom: 20px; */
}

.review-text-area > ul > li {
    padding-right: 5px;
}

.review-text-area > ul > li > img {
    width: 20px;
}

.rating {
    margin-bottom: 20px;
}

footer {
    display: flex;
    justify-content: center;
}

footer > p {
    margin: 20px;
    font-family: 'Roboto', sans-serif;
    color: gray;
    font-size: 1em;
    
}
@media only screen and (max-width: 970px) {
    .card-footer > button {
        font-size: 0.6em;
        padding: 10px 20px;
        border-radius: 50px;
    }

    .card-footer > h2 {
        font-size: 1.25em;
    }
}

@media only screen and (max-width: 795px) {
    .nav-container > ul > li {
        padding: 0 10px;
    }
}

@media only screen and (max-width: 768px) {
    .menu-container {
        display: block;
    }

    .product-description > p {
        font-size: 0.8em;
        margin-bottom: 20px;
    }

    .menu-container > img {
        display: block;
    }

    .nav-container {
        display: none;
    }

    .first-section {
        margin-top: 50px;
    }

    .second-section {
        margin-top: 10%;
    }

    button {
        padding: 10px 10px;
        border-radius: 10px;
    }

    button > img {
        width: 20px;
        margin-right: 5px;
    }

}

@media only screen and (max-width: 480px) {
    .menu-container {
        display: block;
    }

    .menu-container > img {
        display: block;
    }

    .nav-container {
        display: none;
    }

    .first-section {
        height: 500px;
        flex-wrap: wrap;
    }

    
    #bag {
        font-size: 3.75em;
        line-height: 70px;
    }

    #moon {
        font-size: 3.75em;
        line-height: 50px;
    }

    .first-section-text-area {
        width: 100%;
    }

    .first-section-text-area > p {
        font-size: 0.8em;
        margin-bottom: 50px;
        margin-top: 30px;
    }

    .first-section-image-area {
        width: 100%;
        margin-top: 20px;
        position: relative;
        left: 0;
    }

    /* second section */

    .second-section {
        display: block;
        margin-top: 50%;
    }

    .sub-section-container {
        width: 100%;
    }

    .sub-section-image-area {
        width: 100%;
        position: relative;
        left: 0;
    }
    
    .sub-section-image {
        width: 100%;
    }
    
    .sub-section-text-area > h2 {
        font-size: 1em;
        margin-top: 10px;
    }

    .sub-section-text-area > p {
        font-size: 0.8em ;
        margin-bottom: 10px;
    }

    /* Casula bagpack section */

    .product-section-header {
        font-size: 1.5em;
    }

    .product-container {
        display: block;
    }

    .product-card {
        width: 100%;
        margin-bottom: 10%;
    }

    /* Review section */

    .review-section-header {
        font-size: 1.5em;
    }

    .review-section {
        width: 80%;
        margin: 2% 0;
        padding: 0 10%;
        display: block;
    }

    .review-sub-section-container {
        width: 100%;
    }

    .review-header {
        font-size: 0.8em;  
    }

    .bag-icon {
        background-color: #F1F1F1;
        border-radius: 50px;
        width: 15%;
        margin: 2% 2%;
    }

    .sub-section-text-area > ul {
        margin-top: 5%;
    }
}